/****************************
CONTENTS
****************************/

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c0392b;
  transition: background-color 2s ease-in-out;
}

.container * {
  color: #ffffff;
}

.container {
  max-width: 400px;
  width: 100%;
  padding: 0 20px;
}

.container .header,
.container .bio {
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
}

.container .header {
  font-size: 4em;
}

.container .bio {
  font-size: 1.3em;
  line-height: 1.4em;
  letter-spacing: .03em;
}

.container .icon-list {
  text-align: center;
  list-style: none;
  padding: 0;
}

.container .icon-list li {
  display: inline-block;
  margin: 1em;
}

.container .bio a,
.container .icon-list a{
  text-shadow: -1px 1px 0 #2c3e50, -2px 2px 0 #0a0e27;
  transition: text-shadow .3s ease-in-out;
}

.container .icon-list a {
  font-size: 3em;
}

.container .bio a:hover,
.container .icon-list a:hover{
  text-shadow: none;
}

.container .icon-list a:hover {
  font-size: 2.8em;
  padding: .03em;
}
